body{
	background: gray;
	font-family: sunflower
}
.centro{
	position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.container{
	width: 750px;
	height: 450px;
	background: white;
	display: block;
	border-radius: 10px
}

.imagem{
	background: transparent;
	width: 250px;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;

}

.imagem img{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 110px;
	right: 30px;
	border-radius: 30px;
}

.imagem img:hover{
	transform: scale(1.05);
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1)
}

.container h1{
	width:400px;
	height: 35px;
	text-align: center;
	margin-bottom: 20px;
	padding-top:80px;
	font-size: 26px;
	letter-spacing: 0.02em;
	margin-left: 10px
}

.btn-seta{
	float: left;
	position: absolute;
	border-radius: 50%;
	border: none;
	top: 37px;	
	left: 15px;
	height: 50px;
	width: 50px;
}

.btn-seta:hover{
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
	background: transparent;
}

.btn-seta img{
	padding: 5px
}

.inputs{
	width: 100px;
	height: 100%;
	display: block;
}


input{
	box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input{
	margin-bottom: 30px;
	margin-left: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.34);
	background: transparent;
	font-size: 16px
}

.inputnum{
	width: 336px;
	height: 29px;
}

.inputnome{
	width: 336px;
	height: 29px;
}

.inputmes{
	width: 200px;
	height: 29px;
}

.inpucvv{
	width: 50px;
	height: 29px
}

.btn{
	position: absolute;
	right: 365px;
	bottom: 20px;
	color: #ffffff;
  background-color: #24cf5f;
  border: 1px solid #24cf5f;
  padding: 10px 25px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover{
	transform: scale(1.1);
}